* {
    font-family: 'Microsoft JhengHei UI', 'Noto Sans', serif;
}

.title {
    text-align: center;
    color: #6D3434;
    font-size: 110px;
    margin: auto;
}

.title a {
    text-decoration: none;
    color: inherit;
}

button {
    font-size: 125%;
    background: rgba(0, 0, 0, 0.6);
    border: 1px solid #707070;
    color: white;
    padding: 6px 15px 5px 15px;
    border-radius: 30px;
    cursor: pointer;
}

.form-table {
    width: 100%;
    border-spacing: 20px;
}

.form-input .form-input-label {
    text-align: right;
    font-size: 150%;
    font-weight: bold;
}

.form-input select,
.form-input textarea,
.form-input input {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid #707070;
    font-size: 150%;
    color: white;
}

.form-action {
    display: inline-block;
    float: right;
}

.form-action button {
    margin: 10px;
}

.clickable {
    cursor: pointer;
}
